.main{
  background: #fff;
  height: 100%;
  background:linear-gradient(skyblue,khaki);
}

.utils{
  background: #fff;
}

.window{
  background:rgba(0,0,210,.7);
  font-size: 72px;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  backface-visibility: inherit;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
}